<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Bullhorn Form</title>
</head>
<body>

<div class="container">

<div class="jumbotron jumbotron-fluid">
    <h3 align="center"><a href="/add">Add New Bullhorn</a></h3>
</div>
    <div class="table-responsive">
<table class="table">
<thead>
    <tr>
        <th>#ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Posted Date</th>
        <th>Posted By</th>
        <th>Actions</th>
    </tr>
</thead>

    <tr th:each="bullhorn : ${bullhorns}">

        <td><div th:if="${bullhorn.headshot} != null">
            <img th:src="${bullhorn.headshot}" alt="file" class="img-responsive img-fluid rounded-circle"/>
        </div></td>
        <td th:text="${bullhorn.id}"></td>
        <td th:text="${bullhorn.title}"></td>
        <td th:text="${bullhorn.content}"></td>
        <td th:text="${bullhorn.posteddate}"></td>
        <td th:text="${bullhorn.postedby}"></td>

        <td>




          <div class="col-sm-1"><a th:href="@{/update/{id}(id=${bullhorn.id})}">Update</a>
            <a th:href="@{/detail/{id}(id=${bullhorn.id})}">Details</a>
              <a th:href="@{/delete/{id}(id=${bullhorn.id})}">Delete</a></div>
        </td></tr>

</table>
</div>
</div>
</body>
</html>