<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Bullhorn Form</title>
</head>
<body>

<div class="container">

    <div class="jumbotron jumbotron-fluid"><a href="/"><h3 align="center">Your Entries</h3>></a></div>

    <div class="card" align="center">

        <h6>ID :</h6> <span th:text="${bullhorn.id}"></span><br/>

        <h6>Title :</h6> <span th:text="${bullhorn.title}"></span><br/>

        <h6>Content :</h6> <span th:text="${bullhorn.content}"></span><br/>

        <h6>Posted Date :</h6> <span th:text="${bullhorn.posteddate}"></span><br/>

        <h6>Posted By :</h6> <span th:text="${bullhorn.postedby}"></span><br/>

    </div><br/>

    <a th:href="@{/delete/{id}(id=${bullhorn.id})}"><h4 align="center">Delete this entry</h4></a>

</div>

</body>
</html>
